body {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/om24ea1w0zqg8hurhvfg.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
      /*text-align: center;*/
      position: relative;
      /*width: 600px;*/
      height: 700px;
      color: white;
    overflow-x:hidden;
    overflow-y:hidden;
}

.text {
    float: left;
}

.poster {
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 10em;
    color: white;
}

/*h2 {*/
/*    font-family: 'Rock Salt', cursive;*/
/*}*/

/*h2 {*/
/*    font-family: 'Lobster Two', cursive;*/
/*}*/

h3 {
    font-family: 'Pattaya', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Dancing Script', cursive;
}