body {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/om24ea1w0zqg8hurhvfg.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
      /*text-align: center;*/
      position: relative;
      /*width: 600px;*/
      height: 690px;
      color: white;
}

.text {
    float: left;
}

.poster {
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
}

/*h2 {*/
/*    font-family: 'Rock Salt', cursive;*/
/*}*/

h2 {
    font-family: 'Lobster Two', cursive;
}